---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import midair from '../assets/images/midair_1.webp';
import cognition from '../assets/images/vr_cognition.webp';
import arcade from '../assets/images/arcade_1.webp';
import remind from '../assets/images/remind_1.webp';
import rdw from '../assets/images/rdw_1.webp';
import ContentMedia from "../components/ContentMedia.astro";
---

<DefaultLayout title="Research">
  <section class="my-12">
    <div class="container">
      <h1>Research</h1>
      <ContentMedia
        imgSrc={midair}
        title="Mid-Air Locomotion & Spatial Cognition"
        tags="SPATIAL COGNITION  //  LOCOMOTION"
        showLink={false}
        altText="In Progress"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </ContentMedia>
      <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700" />
      <ContentMedia
        imgSrc={cognition}
        title="3D User Interfaces for Mixed Reality Path Planning"
        tags="SPATIAL COGNITION  //  3D  INTERACTION"
        showLink=true
        url="https://doi.org/10.3389/frvir.2023.1192757"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </ContentMedia>
      <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700" />
      <ContentMedia
        imgSrc={arcade}
        title="VR Arcade Game"
        tags="PERSONAL PROJECTS  //  3D  INTERACTION"
        showLink={false}
        altText="In Progress"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </ContentMedia>
      <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700" />
      <ContentMedia
        imgSrc={remind}
        title="ReMind: Wearable for Emotional Awareness"
        tags="EMBODIED INTERACTION  //  COMMUNITY-DRIVEN DESIGN"
        url="https://doi.org/10.1145/3290607.3312997"
        linkText="View Paper"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </ContentMedia>
      <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700" />
      <ContentMedia
        imgSrc={rdw}
        title="Individualized Rotation Gains for Redirected Walking"
        tags="LOCOMOTION   //  PSYCHOPHYSICAL THRESHOLDS"
        url="https://doi.org/10.2312/egve.20181315"
        linkText="View Paper"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </ContentMedia>
    </div>
  </section>
</DefaultLayout>
